<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

 

  <body>
    <header>
    <%if logged_in?%>
        <li> Welcome <%= @current_user.username%>
        <button> Log out </button>
    <%else%>
        <button> Log in </button>
    <%end%>
    </header>
    <%= yield %>
  </body>
</html>
